body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

#navbar{
    display: flex;
    text-align: center;
    justify-content: center;
    border-color: rgb(22, 233, 14);
    border-style: solid;
    margin: 6px;
    padding: 10px;
    text-align: center;
    color: rgb(252, 255, 50);
    background-color: rgb(198, 2, 4);
}

h1{
    color: white;
}

#logo{
    height: 210px;
    width: 210px;
}